!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Structured CRAN
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -#= javascript_pack_tag 'application'
  %body
    %span
      %small Structured
      %strong CRAN
    = link_to 'Packages', root_path
    = link_to 'People', people_path

    %hr/
    = yield
