!!!
%html
  %head
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-697358-11"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-697358-11');

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Structured CRAN
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -#= javascript_pack_tag 'application'
  %body
    %span
      %small Structured
      %strong CRAN
    = link_to 'Packages', root_path
    = link_to 'People', people_path

    %hr/
    = yield
